<!doctype html>
<html>
  <head>
    <title>Recipes List!</title>
<style>
h1 {color: black; font-family: Arial; font-size: 25px;}
body {background-color: BurlyWood;}
</style>
  </head>
    <h1> Find the results of your search below: </h1>
<div id="main">
          <body>
            <ul>
              <% recipes.forEach(function(recipe){ %>
              <li><%= recipe.recipe_name %>, <%= recipe.username %></li>
             <% }) %>
           </ul>
<p>Here you can DELETE recipes by inserting recipe name</p>
<form action="/deleterecipe" method="DELETE">
<input placeholder="Enter recipe name" name"recipe_name"/>
<button>Submit</button>
</form>
</div>
<div>
<p>Here you can EDIT recipes by inserting recipe name</p>
<form action="/editrecipe" method="EDIT">
<input placeholder="Enter recipe name" name"recipe_name"/>
<button>Submit</button>
</form>
</div>
  </body>
<button onclick="window.location.href='http://www.doc.gold.ac.uk/usr/294/./';">Home</button>
</html>
